/*reset et paramètres globaux*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

p {
  margin-left: 10px;
  padding-top: 10px;
}

.presentation p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Fin reset et paramètres globaux*/

/*Section Entête*/
header {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  display: flex;
}
/*Fin Section entête*/

/*Section menu*/
header nav a {
  color: grey;
  padding-left: 15px;
  padding-right: 15px;
}

header nav a:hover {
  color: #5cadd3;
  border-bottom: 3px solid #5cadd3;
}

.accueil {
  display: flex;
  padding-top: 20px;
}

/*Fin section menu*/

/*Section Home*/
#home {
  position: relative;
}

.home_text {
  position: relative;
  z-index: 5;
}

.home-img {
  position: absolute;
  width: 100%;
}

span {
  color: #5cadd3;
}

.button {
  background-color: #5cadd3;
  color: white;
  border-color: white;
  margin-left: 20px;
  position: relative;
}
/*Fin section home*/

/*Section Nos services*/

.illustration_service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h2 {
  text-align: center;
  padding-top: 40px;
}

span {
  color: #5cadd3;
}

.barre {
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.barre_service {
  width: 50px;
  border-top: 2px solid grey;
  align-items: center;
  line-height: 1px;
  opacity: 50%;
}

.fa-circle {
  color: #5cadd3;
  align-content: center;
  padding-left: 5px;
  padding-right: 5px;
}

.services-img {
  width: 50%;
  padding-top: 40px;
  align-items: center;
  text-align: center;
}

.listes_services {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 40px;
  padding-left: 0;
  padding-bottom: 5px;
}

.icone {
  color: #5cadd3;
  margin-right: 10px;
  margin-top: 15px;
}

.chart,
.cubes,
.pie {
  border: 2px solid lightgrey;
  padding: 20px;
  border-radius: 50%;
  margin-right: -12px;
  line-height: 20px;
}
/*Fin section nos services*/

/*Section Nos projets et images porfolio*/

#menu_portfolio {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

li:hover .nav_projet {
  background-color: rgba(120, 120, 120, 0.616);
  border-radius: 5px;
}

.nav_projet a {
  color: rgb(8, 8, 8);
}

.list_projet ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(211, 211, 211);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}

.card figure {
  margin: 15px;
}

figure img {
  width: 400px;
  height: auto;
}

figcaption {
  position: absolute;
  background-color: #5cadd3;
  color: white;
  height: 70px;
  width: 400px;
  text-align: left;
  padding-top: 0;
}

figcaption .fa-eye {
  color: #5cadd3;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: -3;
}

strong {
  margin-left: 10px;
}
/*Fin Section Nos projets et images porfolio*/

/*Contact avec map et formulaire*/

#contact {
  position: relative; /*position relative pour permettre de superposer*/
}

iframe {
  position: absolute;
  width: 100%; /*largeur 100%*/
  height: 700px;
  z-index: 2;
}

.filtre {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: rgba(124, 124, 251, 0.164);
  z-index: 3;
}

form {
  display: flex;
  flex-direction: column;
}

.bloc_contact {
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  top: 60px;
  right: 60px;
  width: 350px;
  padding-bottom: 15px;
}

.bloc_contact h2 {
  text-align: left;
  text-transform: capitalize;
  margin-left: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.bloc_contact h3 {
  margin-left: 25px;
  font-size: 1em;
}

address p {
  margin-left: 25px;
}

.div_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

input {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

textarea {
  width: 300px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#form_btn {
  color: white;
  background-color: #5cadd3;
}
/*Fin Contact avec map et formulaire*/

/*Pied de page*/

footer {
  text-align: center;
  font-size: 22px;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #5cadd3;
  width: 100%;
}
